<h1>Sheets</h1>

<%= button_to 'Sync your Google Sheets', sync_with_drive_sheets_path, method: :post %>

<p>This is a list of sheets that can be connected to SuperVisor. Share your sheets with <strong>supervisor-bot@supervisor-456117.iam.gserviceaccount.com</strong> to make them available and hit the sync button above.</p>

<table>
<tr>
<th>Sheet name</th>
<th>Sheet id</th>
<th>Owner(s)</th>
<th>Link</th>
</tr>
<% @sheets.each do |sheet| %> 
  <tr>
  <td> <%= sheet.name %> </td>
  <td> <%= sheet.id %> </td>
  <td> 
    <% sheet.owner_emails.each do |owner_email| %>
      <%= owner_email %>
    <% end %>
  </td>
  <td> <%= sheet.url %> </td>
  </tr>
<% end %>
</table>