<h1>Inspections</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Sheet url</th>
    <th>Created by ID</th>
    <th>Active</th>
  </tr>
  <% @inspections.each do |inspection| %> 
    <tr>
      <td> <%= inspection.title %> </td>
      <td> <%= inspection.sheet_url_string %> </td>
      <td> <%= inspection.created_by_id %> </td>
      <td> <%= inspection.active %> </td>
    </tr>
  <% end %>
</table>

<h4>Sheets accessible:</h4>

<table>
<tr>
<th>File name</th>
<th>File id</th>
<th>Owner(s)</th>
<th>Link</th>
</tr>
<% @files.files.each do |file| %> 
  <tr>
  <td> <%= file.name %> </td>
  <td> <%= file.id %> </td>
  <td> 
    <% file.owners.each do |owner| %>
      <%= owner.email_address %>
    <% end %>
  </td>
  <td> <%= file.web_view_link %> </td>
  </tr>
<% end %>
</table>
