<h1>Inspections</h1>

<p>Please ensure you have a Slack channel named '#supervisor-inspections' in your workspace. This is where inspection results will be posted.</p>

<%= link_to "Create New Inspection", new_inspection_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Created by</th>
    <th>Sheet url</th>
    <th>Range to check</th>
    <th>Active</th>
  </tr>
  <% @inspections.each do |inspection| %> 
    <tr>
      <td> <%= inspection.title %> </td>
      <td> <%= inspection.sheet.owner_emails.join(" ,") %> </td>
      <td> <%= inspection.sheet.google_file_id %> </td>
      <td> <%= inspection.range_to_check %> </td>
      <td> <%= inspection.active? %> </td>
    </tr>
  <% end %>
</table>
