<h1>Inspections</h1>

<p>Please ensure you have a Slack channel named '#supervisor-inspections' in your workspace. This is where inspection results will be posted.</p>

<%= link_to "Create New Inspection", new_inspection_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Created by</th>
    <th>Sheet url</th>
    <th>Range to check</th>
    <th>Active</th>
  </tr>
  <% @inspections.each do |inspection| %> 
    <tr>
      <td> <%= inspection.title %> </td>
      <td> <%= inspection.sheet.owner_emails.join(" ,") %> </td>
      <td> <%= inspection.sheet.google_file_id %> </td>
      <td> <%= inspection.range_to_check %> </td>
      <td>
        <%= form_with url: toggle_active_inspection_path(inspection), method: :patch, local: true do |form| %>
          <%= form.check_box :status, { checked: inspection.active?, onchange: 'this.form.submit();' }, :active, :inactive %>
        <% end %>
      </td>
      <td> <%= link_to "Delete", inspection_path(inspection), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently delete Inspection '#{inspection.title}' and the log history associated with it?"} %>
    </tr>
  <% end %>
</table>
